<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="MinPossibleNumber" value="40" />
      <add key="MaxPossibleNumber" value="140" />
      <add key="MaxAttempts" value="100" />
      <add key="MaxGameDurationMs" value="1500" />
    </appSettings>
</configuration>